.m-album-modal{
	background-color: #000;
	.modal{
		background-color: #000;
	}
}

m-album{
	.album{
		width: 100%;
    padding: 1vw;
    margin-top: 0.7vw;
		.foto{
			width: 32.65vw;
	    height: 32.65vw;
	    padding: 1.3vw;
	    float: left;
			.thumb{
				width: 100%;
				height: 100%;
				background-color: #D8D8D8;
				background-size: cover;
			}
		}
	}
	.detail{
		background-color: #fff;
		width: 100%;
		min-height: 100%;
    padding: 3vw;
		.skeleton{
			background-color: #b8b8b8;
		}
		.foto{
			display: block;
			width: 94vw;
			background-color: #D8D8D8;
			overflow: hidden;
			.image{
				width: 100%;
		    height: 100%;
				background-color: #D8D8D8;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				z-index: 100;
				position: relative;
				left: 0%;
				box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
				-webkit-transition: left 0.5s ease-out; /* Safari */
    		transition: left 0.5s ease-out;
			}
			.image.move-out{
				left: -101%!important;
			}
			.image.move-in{
				left: 0%!important;
			}
			.image.no-animation{
				-webkit-transition: none; /* Safari */
    		transition: none;
			}
			.image.previ{
				left: -101%;
				top: -200%;
				z-index: 105;
			}
			.image.prox{
				left: 0%;
				top: -100%;
				z-index: 90;
			}
			
			.prev{
				z-index: 110;
				left: 3vw;
			}
			.next{
				z-index: 110;
				right: 3vw;
			}
			.action{
				width: 40px;
				height: 40px;
				opacity: 0.76;
				background: #D8D8D8;
				display: block;
				top: 36%;
				position: absolute;
				a{
					color: #4A4A4A;
					width: 40px;
					height: 40px;
					display: block;
					font-size: 25px;
					line-height: 40px;
					text-align: center;
				}
			}
		}
		.text{
			padding-top: 3.4vw;
			display: block;
			width: 94vw;
			h3{
				font-size: 16px;
				display: block;
				width: 100%;
				margin-bottom: 2.2vw;
			}
			p{
				display: block;
				line-height: 21px;
		    min-height: 40px;
		    width: 100%;
			}
		}
	}

}
