<div class="album" ng-if="!isDetail">
  <div class="foto" ng-repeat="item in items" ng-click="goTo(item)">
    <m-img encode="true" id="control-img-{{item.id}}" src="item.image"  />
  </div>
</div>
<div class="detail" ng-if="isDetail">
  <div class="foto skeleton">
    <div class="image" ng-class="{'move-out':nextAnimation , 'no-animation':!nextAnimation}" ng-style="getDetailImage(detail)"
      ng-click="openModal()"
    ></div>
    <div class="image prox" ng-style="getDetailImage(nextDetail)"></div>
    <div class="image previ" ng-style="getDetailImage(prevDetail)" ng-class="{'move-in':prevAnimation , 'no-animation':!prevAnimation}"></div>
    <div class="action prev" ng-click="prev(detail)" ng-show='showPrev(detail)'>
      <a class="icon ion-chevron-left" ></a>
    </div>
    <div class="action next" ng-click="next(detail)" ng-show='showNext(detail)'>
      <a class="icon ion-chevron-right" ></a>
    </div>
  </div>
  <div class="interaction">
    <i class="icon star-like" ng-click="likeOrUnlike()" 
      ng-class="{'ion-android-star-outline': !detail.userLikedPhoto, 'ion-android-star': detail.userLikedPhoto}"
    ></i>
    <i class="icon ion-android-star"></i>
    <span>{{detail.likesCount}}</span>
  </div>
  <div class="text">
    <h3 class="title">{{detail.title}}</h3>
    <p class="description">{{detail.description}}</p>
  </div>
</div>
<script id="malbum-zoom-modal.html" type="text/ng-template">
  <ion-modal-view class="m-album-modal">
    <ion-content  ng-click="closeModal()">
      <div class="slide-zoom-container">
        <ion-scroll  delegate-handle="m-album-zoom-scroll" zooming="true" overflow-scroll="false" direction="xy">
          <!--<m-img encode="true" class="image" src="detail.image"  />-->
          <img class="image" ng-src="{{detail.image}}" />
        </ion-scroll>
      </div>
    </ion-content>
  </ion-modal-view>
</script>